

! hard contrast: *background: #1d2021
*background: #000000 
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2


Xcursor.theme: xcursor-breeze-snow
Xcursor.size: 10                   

URxvt.font:  xft:Hack:size=12,xft:DejaVu Sans Mono
!URxvt.boldFont: xft:Hack:style=Bold:size=12
!URxvt.italicFont: xft:Iosevka:style=Italic:size=12
!URXvt.boldItalicFont: xft:Iosevka:style=Bold Italic:size=12
! alternative font settings with 'terminus':
! URxvt.font:      -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
! URxvt.bold.font: -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1
!! terminus names see end of file!

URxvt.depth:                      32
!URxvt.background:                 [100]#000000
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       true
URxvt*cursorBlink:                true
!URxvt*background:                 black
!URxvt*foreground:                 grey
URxvt*saveLines:                  5000

! for 'fake' transparency (without Compton) uncomment the following three lines
! URxvt*inheritPixmap:            true
! URxvt*transparent:              true
! URxvt*shading:                  138

! Normal copy-paste keybindings without perls
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard
